<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="icon" href="/images/icon.png">
    <title>Weather App - About</title>
    <!-- CSS3 Styles -->
    <link rel="stylesheet" type="text/css" href="/css/shared.css">
</head>
<body>
    <div class="main-content">
        {{>header}}
        
        <p>This site uses data from Mapbox and Darksky API.</p>
    </div>
    {{>footer}}
    <!-- Client JavaScripts -->
    <script type="text/JavaScript" src="/js/shared.js"></script>
</body>
</html>